*

/* General reset */
body {
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(to top, #222831, #393E46, #00ADB5, #EEEEEE);
    color: #EEEEEE;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: auto;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-menu li {
    margin: 0 1rem;
}

.nav-menu a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #00ADB5;
}

main {
    padding: 2rem;
    text-align: center;
}

iframe {
    max-width: 100%;
    height: auto;
    border: none;
}

footer {
    background: #222831;
    color: #EEEEEE;
    font-style: italic;
    font-size: small;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    border-radius: 15px;
}