* 

header {
    background: #00ADB5;
    color: #EEEEEE;
    padding: 1rem;
    text-align: center;
    border: 5px solid #00ADB5;    
}

.logo{
    height:"10px";
    width:"10px";
    text-align: left;
}

body {
background-color: #EEEEEE;
background-image: url(images/logo.png);
background-attachment: fixed;
background-position: center;
background-repeat:no-repeat;
font-family: Arial, Helvetica, sans-serif;
color: #393E46;
text-align: center;
margin: auto;
padding: 10px;
}

main{
    background-color: #EEEEEE;
    border: 5px solid #00ADB5;
}

h1{
    text-align: center;
    background-color:  #00ADB5;
    color: #EEEEEE;
}

h2{
    text-align: center;
    color: #393E46;
}

h3{
    text-align: center;   
}

.youtube{
    width:auto;
    height:auto;
    border:2px solid #00ADB5;    
}

footer {
    background: #393E46;
    color: #EEEEEE;
    text-align: center;
    font-size: small;
    font-style: italic;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

#contactUs {
    background: #EEEEEE;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 10%;
    border-radius: 12px;
}